body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.container{
    
    background-color: #f2f4f3;
}

#img_banniere{
    width: 200px;
    height: 200px;
    background-image: url(./Cefim_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu{
    display: flex;
    height: 150px;
    width: 200px;
    margin-left: 5rem;
    justify-content: space-evenly;
    align-content: left;
    float: left;
}

.menu *{
    display: flex;
    height: 75px;
    line-height: 70px;
    text-align: center;
    padding: 5px;
    border: 1px solid dimgray;
    text-decoration: none;

}

.menu a:hover{
    text-decoration: none;
    background-color: dimgrey;
    color: white;
    transition-duration: 0.5s;
}


.menu a:active{
    text-decoration: none;
    background-color: dimgrey;
}

.mdp_forget{
    float: right;
}

.main-body{
    min-height: 350px;
}

.page_admin{
    align-items: center;
}


.btn_admin{
    width: 300px;
    background-color: darkgray;
    margin-top: 5px;
}

.btn_admin:hover{
    background-color: lightgray;
}

.liste_formations{
    min-height: 350px;
}

.dropdown{
    margin-top: 4rem;
}

.dropdown a{
    padding:2rem;
    width: 15rem;
    font-size: 19pt;
}

.CDA{
    background-color: greenyellow;
}
.CDA:hover{
    background-color: lightgreen;
    transition-duration: 0.5s;
}
.DATA{
    background-color: yellow;
}
.DATA:hover{
    background-color: lightyellow;
    transition-duration: 0.5s;
}
.WEBMARKET{
    background-color: purple;

}
.WEBMARKET:hover{
    background-color: rgb(231, 141, 211);
    transition-duration: 0.5s;
}
.DWWM{
    background-color: rgb(153, 17, 17);
}
.DWWM:hover{
    background-color: lightpink;
    transition-duration: 0.5s;
}

.btn_nom_formation{
    padding: 3rem;
    width: 15rem;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 1rem;
    background-color: darkgray;
    color: white;
    font-size: 20pt;
}
.btn_nom_formation:hover{
    background-color: grey;
    transition-duration: 0.8s;

}
.graphiques{
margin:auto;
}
