body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.container{
    
    background-color: #f2f4f3;
}

#img_banniere{
    width: 200px;
    height: 200px;
    background-image: url(./Cefim_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu{
    display: flex;
    height: 150px;
    width: 200px;
    margin-left: 5rem;
    justify-content: space-evenly;
    align-content: left;
    float: left;
}

.menu *{
    display: flex;
    height: 75px;
    line-height: 70px;
    text-align: center;
    padding: 5px;
    border: 1px solid dimgray;
    text-decoration: none;

}

.menu a:hover{
    text-decoration: none;
    background-color: dimgrey;
    color: white;
}


.menu a:active{
    text-decoration: none;
    background-color: dimgrey;
}

.mdp_forget{
    float: right;
}

.main-body{
    min-height: 350px;
}

.page_admin{
    align-items: center;
}


.btn_admin{
    width: 300px;
    background-color: darkgray;
    margin-top: 5px;
}

.btn_admin:hover{
    background-color: lightgray;
}
