<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Satifaktion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="Imports/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="container ">
                <div class="row justify-content-between p-3 mt-1">
                    <div class="col-3" id="img_banniere"></div>
                    <div class="col-6 text-center display-2 mt-5">Satifaktion</div>
                    <div class="col-3"></div>
                </div>
        </header>
<div class="container mb-5 justify-content-center w-50 main-body">
        <form class="">
                <div class="form-group">
                  <label for="email_Input">Adresse mail :</label>
                  <input type="email" class="form-control" id="email_Input" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail cefim">
                </div>
                <div class="form-group ">
                  <label for="pwd_input">Mot de passe :</label>
                  <input type="password" class="form-control" id="pwd_input" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Connection</button>
              </form>

              <a href="#" class="mdp_forget">Mot de passe oublié ?</a>
</div>

        <footer class="row justify-content-around mt-5">
            <a href="#">Mentions légales</a>
            <a href="#">Contactez l'administrateur</a>

        </footer>
    </div>
</body>

</html>