{% extends "page.html" %}

{% block content %}
{{ response }}


    <div class="container-fluid">
<div class="container mb-5 justify-content-center w-50 main-body">
        <form class="" method="POST">
                <div class="form-group">
                  <label for="email_Input">Adresse mail :</label>
                  <input type="email" name="username" class="form-control" id="email_Input" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail cefim">
                </div>
                <div class="form-group ">
                  <label for="pwd_input">Mot de passe :</label>
                  <input type="password" class="form-control" id="pwd_input" name="password"  placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
              </form>
              {% if error != None %}
                    <h5 class="red">{{ error }}</h5>
              {% endif %}
              <a href="#" class="mdp_forget">Mot de passe oublié ?</a>
</div>
{% endblock %}