{% extends "page.html" %}

{% block content %}

<h3 class="text-center">Gestion de la promotion {{ promotion.nom }}</h3>
<!-- <p>{{ promotion }}</p> -->
<div class="">
    <div class="row">
        <div class="col-4"></div>
        <div class="graphique_questionnaire_quanti col-4 ">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
            <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>

            <h4>satisfaction sur la progression des methodes pedagogiques</h4>
            <canvas id="myChart" class="" width="400" height="400"></canvas>
            <script>
                affichePie({{ results }});
            </script>
        </div>
        <div class="col-4"></div>

    </div>
</div>







{% endblock %}