<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Gwen graphique</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>

        {{ resultetiquette,
        results}}
        
        <canvas id="myChart" canvaswidth="100" canvasheight="100" ></canvas>
         <script>
             graphBar({{results}})
         </script>   
    </body>
</html>

