{% extends "index.html" %}

{% block name %}{% if profil is defined%}{{profil.nom}}{% endif %}{% endblock %}
{% block content %}

<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
<div class="col-3">Colonne 1</div>
<div class="col-3">Colonne 2</div>
<div class="col-3">Colonne 3</div>
<div class="col-3">Colonne 4</div>
{% endblock %}